<div class="main">
    <section class="sectionForm">
        <div class="titleLogin">
            <h1>Faça login em sua conta</h1>
            <span class="span0"></span>
        </div>
        <form action="/login" method="POST" id="formLogin">
            <div class="input">
                <input type="email" name="email" id="email" placeholder="Email" autocomplete="off">
                <div></div>
            </div>
            <span class="span1"></span>
            <div class="input">
                <input type="password" name="senha" id="senha" placeholder="Senha" autocomplete="off">
                <div></div>
            </div>
            <span class="span2"></span>
            <p class="semConta">Ou entre sem fazer login clicando <a href="/">aqui!</a></p>
            <button type="submit" id="entrar">Entrar</button>
        </form>
    </section>
    <section class="sectionInfos">
        <div class="titleInfos">
            <h2>Novo aqui?</h2>
        </div>
        <p>Faça sua conta e aproveite da melhor forma os melhores produtos de nossa loja.</p>
        <a href="/registrar" id="cadastrar">Cadastrar</a>
    </section>
</div>