<div class="pedidos">
    <h3>Pedidos</h3>
    <table>
        <tr>
            <th>Nome Cliente</th>
            <th>Id Cliente</th>
            <th>Data Hora Cadastrado</th>
            <th>Data Hora Entrega</th>
            <th>Valor Frete</th>
            <th></th>
        </tr>
    </table>
</div>

<h3>Pagina de funcionario</h3>
<a href="/logout">Logout</a>