<div class="pedidos">
    <h3>Pedidos</h3>
    <table>
        <tr>
            <th></th>
        </tr>
    </table>
    {{#each pedidos}}
        <h2>ola</h2>
    {{/each}}
</div>

<h3>Pagina de funcionario</h3>
<a href="/logout">Logout</a>