<header>
    <div class="nomeEmpresa">
        <h3>Dona Ninita</h3>
    </div>
</header>

<form action="/query" method="POST">
    <label for="cod">Codigo do Pedido</label>
    <input type="text" name="cod" placeholder="codigo">
</form>