<div class="footer">
    <h5>Dona Ninita</h5>
    <div class="secoesFooter">
        <section class="local">
            <h3>Localização</h3>
            <p>Endereco: Qr 36, conjunto A, casa 23</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30706.371143612712!2d-47.967483!3d-15.841012000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a2e2916463583%3A0xb8b3658ff97b4935!2sGuar%C3%A1%20II%20QE%2036%20Conj.%20A%20-%20Guar%C3%A1%2C%20Bras%C3%ADlia%20-%20DF%2C%2071065-360!5e0!3m2!1spt-BR!2sbr!4v1712518660101!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section class="horario">
            <h3>Horarios</h3>
            <h6>Dias Uteis: </h6>
            <p><strong>09:00 ás 18:00</strong></p>
            <h6>Finais de semana e Feriado:</h6>
            <p><strong>08:00 ás 14:00</strong></p>
        </section>
        <section class="contato">
            <h3>Contatos</h3>
            <h4><i class="bi bi-instagram"></i><a href="https://www.instagram.com/Donaninita.ca" target="_blank">Instagram</a></h6>
            <h4><i class="bi bi-whatsapp"></i><a href="https://wa.me/+5561994300862" target="_blank">Whatsapp</a></h4>
        </section>
    </div>
    <div class="direito">
        <h4> &copy; 2023 Dona Ninita Copyright - CNPJ: 00.678.771/0001-6 Todos os Direitos Reservados</h4>
    </div>
</div>